<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>&copy; 2016 Camp of Graduate Institute of Biomedical Electronics and Bioinformatics, National Taiwan University<br>
電話：02-33664961　傳真：02-33663754<br>
地址：10617台北市大安區羅斯福路4段1號 博理館410室<br>
E-mail：ntu.bebi.stu@gmail.com</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</footer><! --/footer -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>