---
layout: default
---
{% include page-header.html %}
<section class="speaker-detail post light">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-xs-12">
            <! -- Blog Post  -->
            <p><img class="post-image" src="{{ "/assets/speaker/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <h3 class="ctitle">{{ page.title }}</h3>
            <h3 class="ctitle">{{ page.talk }}</h3>
              
            {{ content }}

        </div><! --/col-lg-12 -->
    </div><! --/row -->
</section><! --/post -->